@model BEWebApp.Models.Category

@{
    ViewBag.Title = "Create";
}
<style type="text/css">
    #id_cat{
        border: 1px solid lightgreen;
        border-radius: 10px;
        background-color: lightgreen;
        padding-top: 10px;
        padding-bottom: 10px;
        color: darkgreen;
    }
</style>
<h2 id="id_cat">QUẢN LÝ LOẠI HÀNG</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Category</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.IDCate, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">Mã loại</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDCate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IDCate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NameCate, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">Tên loại</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameCate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameCate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
                <input type="reset" value="Nhập lại" class="btn btn-default" />
                @Html.ActionLink("Danh sách", "Index",null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
