@model IEnumerable<BEWebApp.Models.Category>

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    table{
        margin-left: auto;
        margin-right: auto;
        width: 900px;
    }
    #id_cat, #item_name {
        border: 1px solid lightgreen;
        border-radius: 10px;
        background-color: lightgreen;
        padding-top: 10px;
        padding-bottom: 10px;
        color: darkgreen;
    }
    #btn1, #btn2, #btn3, #btn4{
        padding: 4px 15px 4px 15px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 5px;
    }
</style>

<h2 id="id_cat">QUẢN LÝ LOẠI HÀNG</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr id="item_name">
        <th></th>
        <th>
            @*@Html.DisplayNameFor(model => model.Id)*@
            MÃ LOẠI
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NameCate)*@
            TÊN LOẠI
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name='name[]' id='check'/>
        </td>
        <td>
            1000
        </td>
        <td>
            Đồng hồ đeo tay
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Xóa", "Delete", null, new { @class = "btn btn-default" })
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name='name[]' id='check'/>
        </td>
        <td>
            1001
        </td>
        <td>
            Máy tính xách tay
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Xóa", "Delete", null, new { @class = "btn btn-default" })
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name='name[]' id='check'/>
        </td>
        <td>
            1002
        </td>
        <td>
            Máy ảnh
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Xóa", "Delete", null, new { @class = "btn btn-default" })
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name='name[]' id='check'/>
        </td>
        <td>
            1003
        </td>
        <td>
            Điện thoại
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Xóa", "Delete", null, new { @class = "btn btn-default" })
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name='name[]' id='check'/>
        </td>
        <td>
            1004
        </td>
        <td>
            Nước hoa
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Xóa", "Delete", null, new { @class = "btn btn-default" })
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name='name[]' id='check'/>
        </td>
        <td>
            1005
        </td>
        <td>
            Nữ trang
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Xóa", "Delete", null, new { @class = "btn btn-default" })
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name='name[]' id='check'/>
        </td>
        <td>
            1006
        </td>
        <td>
            Nón thời trang
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Xóa", "Delete", null, new { @class = "btn btn-default" })
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name='name[]' id='check'/>
        </td>
        <td>
            1007
        </td>
        <td>
            Túi xách du lịch
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Xóa", "Delete", null, new { @class = "btn btn-default" })
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <input type="button" id="btn1" value="Chọn tất cả" />
            <input type="button" id="btn2" value="Bỏ chọn tất cả" />
            <input type="button" id="btn3" value="Xóa các mục chọn" />
            <input type="button" id="btn4" value="Nhập thêm" />
        </td>
    </tr>
    <script language="javascript">

            // Chức năng chọn hết
            document.getElementById("btn1").onclick = function ()
            {
                // Lấy danh sách checkbox
                var checkboxes = document.getElementsByName('name[]');

                // Lặp và thiết lập checked
                for (var i = 0; i < checkboxes.length; i++){
                    checkboxes[i].checked = true;
                }
            };

            // Chức năng bỏ chọn hết
            document.getElementById("btn2").onclick = function ()
            {
                // Lấy danh sách checkbox
                var checkboxes = document.getElementsByName('name[]');

                // Lặp và thiết lập Uncheck
                for (var i = 0; i < checkboxes.length; i++){
                    checkboxes[i].checked = false;
                }
            };

             // Chức năng bỏ chọn 
            document.getElementById("btn3").onclick = function ()
            {
                // Lấy danh sách checkbox
                var checkboxes = document.getElementsByName('name[]');

                // Lặp và thiết lập Uncheck
                for (var i = 0; i < checkboxes.length; i++){
                    if (checkboxes[i].checked = true) {
                        checkboxes[i].checked = false;
                    }
                }
            };
    </script>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameCate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDCate }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDCate }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDCate })
            </td>
        </tr>
    }

</table>
